/* Reset default margin and padding */
body, h1, h2, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e0fbfc; /* Tertiary color */
    color: #293241; /* Main text color */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login,
.homepage {
    display: none;
    text-align: center;
    width: 80%;
}

/* Style for the login section */
.login {
    display: block;
    /* Your styles for login section */
}

/* Style for the main content after login */
.homepage {
    display: block;
    background-color: #98c1d9; /* Secondary color */
    border: 1px solid #293241; /* Borders and detail color */
}

.sidebar {
    background-color: #3d5a80; /* Primary color */
    width: 20%;
    height: 100%;
    position: fixed;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    border-bottom: 1px solid #293241; /* Borders and detail color */
}

li a {
    display: block;
    color: #e0fbfc; /* Main text color */
    text-decoration: none;
    padding: 10px;
}

.add-task {
    margin-left: 20%; /* Adjust for the sidebar width */
    padding: 20px;
    color: #293241; /* Main text color */
}

/* Style the icons */
i {
    margin-right: 8px;
    color: #e0fbfc; /* Main text color */
}
